<div class="container">
  <div class="contents-new">
    <h1>New Cocktail</h1>
      <%= simple_form_for @cocktail do |c| %>
        <%= c.input :name %>
        <%= c.input :description %>
        <%= c.input :photo %>
        <%= c.input :photo_cache, as: :hidden %>
        <%= c.simple_fields_for :doses do |d| %>
          <% 10.times do |i| %>
            <div class = "dose hidden">
                <%= d.simple_fields_for "#{('dose'+(i + 1).to_s)}".to_sym do |e| %>
                      <div class="input-box">
                        <%= e.input :ingredient, collection: Ingredient.all.sort_by{ |i| i.name} %>
                      </div>
                      <div class="input-box">
                        <%= e.input :description, label: 'Amount' %>
                      </div>
                      <button class="btn btn-primary delete" type="button">Delete</button>
                <% end %>
            </div>
          <% end %>
        <% end %>
          <div class="row">
            <div class="col-xs-12 add-ingredient" id="plus">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              <span>Add Ingredient</span>
            </div>
          </div>
          <%= c.button :button, type: :submit, class: "btn btn-primary submit-button" %>
      <% end %>
      <%= link_to "Back", root_path %>
  </div>
</div>

<script type="text/javascript">
  function dose() {
    let counter = 0;
    const plus = document.getElementById('plus');
    const hiddenDoses = document.querySelectorAll('.dose.hidden');
    const del = document.querySelectorAll('.delete');
    plus.addEventListener('click', (event) => {
      // doses.classList.remove('hidden');
      hiddenDoses[counter].classList.remove('hidden');
      console.log(counter);
      counter += 1;
    });
    del.forEach((element) => {
      element.addEventListener('click', (event) => {
        let ingredientElement = 'cocktail_doses_dose' + counter + '_ingredient';
        let descriptionElement = 'cocktail_doses_dose' + counter + '_description';
        document.getElementById(ingredientElement).value = '';
        document.getElementById(descriptionElement).value = '';
        counter -= 1;
        hiddenDoses[counter].classList.add('hidden');
      });
    });
  }
  dose();
</script>
