<div class="container">
  <div class="contents">
    <h1>New Cocktail</h1>
      <%= simple_form_for @cocktail do |c| %>
        <%= c.input :name %>
        <%= c.input :photo %>
        <%= c.input :photo_cache, as: :hidden %>
        <%= c.simple_fields_for :doses do |d| %>
          <% 10.times do |i| %>
            <div class = "dose hidden">
                <%= d.simple_fields_for "#{('dose'+(i + 1).to_s)}".to_sym do |e| %>
                      <div class="input-box">
                        <%= e.input :ingredient, collection: Ingredient.all.sort_by{ |i| i.name} %>
                      </div>
                      <div class="input-box">
                        <%= e.input :description, label: 'Amount' %>
                      </div>
                      <button class="btn btn-primary delete" type="button">Delete</button>
                <% end %>
            </div>
          <% end %>
        <% end %>
          <div class="row">
            <div class="col-xs-12 add-ingredient">
              <span class="glyphicon glyphicon-plus" id="plus" aria-hidden="true"></span>
              <span>Add Ingredient</span>
            </div>
          </div>
          <%= c.button :button, type: :submit, class: "btn btn-primary submit-button" %>
      <% end %>
      <%= link_to "Back", root_path %>
  </div>
</div>
