<% photo_url = @cocktail.photo %>
<% photo_url = cl_image_path("default.png") if @cocktail.photo_url.nil? %>


<div class= "banner-show"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
   url('<%= cl_image_path(photo_url)%>')">
  <div class="banner-content">
    <h2><%= @cocktail.name %></h2>
  </div>
</div>

<div class="container">
  <div class="contents-show">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h3>Description</h3>
        <% description_text = @cocktail.description %>
        <% description_text = "Press edit to add a description!" if @cocktail.description.blank? %>
        <div id="description-text"><%= description_text %></div>
        <div class="hidden" id="description-form">
          <%= simple_form_for @cocktail do |c| %>
            <%= c.input :description, label: false %>
            <%= c.button :submit, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <h3>Ingredients</h3>
        <%= link_to "Cancel", cocktail_path(@cocktail), class: "hidden", style: "display: block;" %>
        <%= link_to "Delete Cocktail", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" }, class: "hidden btn btn-danger"  %>
        <% if @cocktail.ingredients.empty? %>
          <%= "No ingredients - press edit to add some!" %>
        <ul>
          <% else %>
            <% @cocktail.ingredients.each do |ingredient| %>
              <li>
                <div class="ingredient-delete">
                  <%= "#{ingredient.name} - #{ingredient.doses.where(cocktail_id: @cocktail.id).first.description}"%>
                  <%= link_to "Delete Ingredient", cocktail_dose_path(@cocktail, ingredient.doses.where(cocktail_id: @cocktail.id).first), method: :delete, data: { confirm: "Are you sure" }, class: "delete hidden" %>
                </div>
              </li>
              <% end %>
          <% end %>
        </ul>
        <a href="#" id="edit-button" class="btn btn-primary">Edit</a>
        <div class="hidden">
          <hr>
          <h3>Add Ingredient</h3>
          <%= simple_form_for @cocktail do |c| %>
            <%= c.simple_fields_for :ingredient do |i| %>
              <div class="show-dose">
                <%= i.input :ingredient, collection: Ingredient.all.sort_by{ |i| i.name } %>
                <%= i.input :description, label: 'Amount of Ingredient' %>
              </div>
            <% end %>
            <%= c.button :submit, 'Add', class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function showEditControls() {
    const editButton = document.getElementById('edit-button');
    const hiddenElements = document.querySelectorAll('.hidden');
    editButton.addEventListener('click', (event) => {
      event.preventDefault();
      hiddenElements.forEach((element) => {
        element.classList.remove('hidden');
      });
      editButton.classList.add('hidden');
      document.getElementById('description-text').classList.add('hidden');
    });
  }
  showEditControls();
</script>
