<h1><%= @cocktail.name %></h1>
<% photo_url = @cocktail.photo %>
<% photo_url = cl_image_path("default.png", :width => 500, :height => 500, :crop => :limit) if @cocktail.photo_url.nil? %>
<%= cl_image_tag(photo_url, :width => 500, :height => 500, :crop => :limit) %>
<h3>Ingredients</h3>
<span><%= link_to "Delete cocktail", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" }  %></span>
<ul>
  <% @cocktail.ingredients.each do |ingredient| %>
    <li><%= "#{ingredient.name} - #{ingredient.doses.where(cocktail_id: @cocktail.id).first.description}"%><span class = 'delete'><%= link_to "Delete", cocktail_dose_path(@cocktail, ingredient.doses.where(cocktail_id: @cocktail.id).first), method: :delete, data: { confirm: "Are you sure" } %></span></%></li>
  <% end %>
</ul>

<%= simple_form_for @cocktail do |c| %>
  <%= c.simple_fields_for :ingredient do |i| %>
      <%= i.input :description %>
      <%= i.input :ingredient, collection: Ingredient.all %>
  <% end %>
  <%= c.button :submit %>
<% end %>

<%= link_to "Back", root_path %>
